body {
  font-family: Bookman;
  background-image: url("http://az616578.vo.msecnd.net/files/2016/06/19/6360190303080728041485700117_piano.jpg");
  background-size: cover;
}

h1 {
  text-align: center;
  color: #FFF8DC;
}

h2 {
  color: #FFF8DC;
}

p1 {
  color: #FFF8DC;
}

.footer {
  color: #FFF8DC;
}

