body {
  font-family: Arial;
  background-image: url("http://az616578.vo.msecnd.net/files/2016/06/19/6360190303080728041485700117_piano.jpg");
  background-size: cover;
}

h1 {
  text-align: center;
}

